
<%= link_to "Dowload users CSV", users_path(format: :csv) %>

<%= form_with url: import_users_path, method: :post do |form| %> 
  <%= form.file_field :file, accept: ".csv" %> 
  <%= form.button "Import" %>
<% end %>


<h3>
  <% @users.each do |user| %>
    <li>
    <%= user.username %>
    <%= user.name %>
    <%= user.surname %>
    <%= user.phone %>
    </li>
  <% end %>
</h3>